<h1> Paidwell </h1>

<p> Your destination for female overpriced leggings. </p>


<form method="post" action="/add_to_cart">

  <img src="https://i.s-madewell.com/is/image/madewell/A8535_DM0702_m?$pdp_fs418$">

  <!-- Length -->

  <div>
    <input type="radio" name="length" value="regular" id="length-regular">
    <label for="length-regular"> Regular length </label>

    <input type="radio" name="length" value="tall" id="length-tall">
    <label for="length-tall"> Tall length </label>

    <input type="radio" name="length" value="taller" id="length-taller">
    <label for="length-taller"> Taller length </label>
  </div>


  <!-- Color -->

  <div>
    <input type="radio" name="color" value="black" id="color-black">
    <label for="color-black"> Black </label>

    <input type="radio" name="color" value="brown" id="color-brown">
    <label for="color-brown"> Brown </label>

    <input type="radio" name="color" value="red" id="color-red">
    <label for="color-red"> Red </label>
  </div>

  <!-- Quantity -->

  <div>
    <select name="quantity">
      <option value="1"> 1 </option>
      <option value="2"> 2 </option>
      <option value="3"> 3 </option>
      <option value="4"> 4 </option>
      <option value="5"> 5 </option>
    </select>
  </div>

  <button>
    Add to cart
  </button>

</form>
