<h1> Leadership </h1>

<ul>

  <li>
    <h2> Charizard </h2>
    <p> Chief Fire Officer </p>
    <img src="/charizard.png">
  </li>

  <li>
    <h2> Captain Jack Sparrow </h2>
    <p> Chief Fire Water Officer </p>
    <img src="/jack.jpg">
  </li>

</ul>
